@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: hsl(0, 20%, 99%);
  --color-background-weak: hsl(0, 8%, 97%);
  --color-background-strong: hsl(0, 5%, 12%);
  --color-text: hsl(0, 1%, 39%);
  --color-text-weak: hsl(0, 1%, 60%);
  --color-text-strong: hsl(0, 5%, 12%);
  --color-border: hsl(30, 2%, 81%);
  --color-icon: hsl(0, 1%, 55%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(0, 9%, 7%);
    --color-background-weak: hsl(0, 6%, 10%);
    --color-background-strong: hsl(0, 15%, 94%);
    --color-text: hsl(0, 4%, 71%);
    --color-text-weak: hsl(0, 2%, 49%);
    --color-text-strong: hsl(0, 15%, 94%);
    --color-border: hsl(0, 3%, 28%);
    --color-icon: hsl(10, 3%, 43%);
  }
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
